@import "node_modules/bootstrap/dist/css/bootstrap";
@import "node_modules/bootstrap/dist/css/bootstrap-theme";

* {
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: #eee !important;
  height: 100%;

}

.footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

.browsers {
  display: block;
  width: 100%;
  text-align: center;
}

.btn {
  margin-bottom: 10px;
}


